<h1><%= habit.name %></h1>
<h2>Today's Status:</h2>
<form action="/habit/<%= habit._id %>/update" method="POST">
  <label for="status">Status:</label>
  <select name="status" id="status">
    <option value="Done" <% if (habit.dailyStatus[0]?.status === 'Done') { %>selected="selected"<% } %>>Done</option>
    <option value="Not Done" <% if (habit.dailyStatus[0]?.status === 'Not Done') { %>selected="selected"<% } %>>Not Done</option>
    <option value="None" <% if (habit.dailyStatus[0]?.status === 'None') { %>selected="selected"<% } %>>None</option>
  </select>
  <button type="submit">Update</button>
</form>
<h2>Previous 6 Days:</h2>
<ul>
  <% for (let i = 1; i < 7; i++) { %>
    <li>
      <span><%= formatPastDate(habit.dailyStatus[i]?.date) %>:</span>
      <span>
        <% if (habit.dailyStatus[i]?.status === 'Done') { %>
          Done
        <% } else if (habit.dailyStatus[i]?.status === 'Not Done') { %>
          Not Done
        <% } else { %>
          None
        <% } %>
      </span>
    </li>
  <% } %>
</ul>
<script>
  function formatPastDate(date) {
    if (!date) {
      return '';
    }
    const options = { weekday: 'long', year: 'numeric', month: 'long', day: 'numeric' };
    return new Date(date).toLocaleDateString(undefined, options);
  }
</script>
